border(side='')
	if side isnt ''
		border-{side} 1px solid #ccc
	else
		border 1px solid #ccc

div
		font-family Ubuntu, Segoe UI, sans-serif

.block-left
	border(right)
	overflow hidden

.button-close
	cursor pointer
	visibility hidden
	position absolute
	color hsl(0,50%,60%)
	font-size 20px
	top 10px
	right 10px

	&::before
		font-family 'FontAwesome'
		content "\f057"

.news-list
	> li
		border(bottom)
		position relative
		padding 10px 20px

		&:hover .button-close
			visibility visible
			

		.title
			display inline-block
			color hsl(0,0%,40%)
			text-decoration none
			font-size 20px
			font-weight bold


			&:hover
				text-decoration underline

		.description
			font-size .9em
			margin 10px 0

.tags
	clear both
	overflow hidden
	margin 0 -15px
	//background #eee
	//padding 10px 15px
	padding 0 10px

	li
		padding 7px 10px
		border-radius 2px
		background hsl(200,50%,60%)
		float left
		margin 5px
		color white
		font-size 12px
		cursor pointer
		overflow hidden
		transition background .3s

		&::after
			font-family 'FontAwesome'
			//visibility hidden
			content "\f057"
			opacity 0
			transition opacity .3s
			margin-left 10px

		&:hover
			background hsl(200,50%,40%)

			&::after
				opacity 1
				//visibility visible
		

.block-right
	box-sizing border-box
	float right
	width 400px

.form
	width 100%
	overflow hidden
	padding 0 20px
	box-sizing border-box
	background #eee
	border(bottom)

	input, textarea, button
		width 100%
		max-width 100%
		min-width 100%
		padding 5px 10px
		color #666
		font-size 16px
		font-family Ubuntu
		display block
		margin 10px 0
		box-sizing border-box
		background transparent
		border()

	input, textarea
		&:focus
			background white
			outline 0
		

	button
		cursor pointer
		color white
		background hsl(150,40%,50%)
		border-color hsl(150,40%,45%)
		border-radius 2px
		transition background .3s
		
		&:focus
			outline none

		&:hover
			background hsl(150,40%,45%)

		&:active
			background hsl(150,40%,40%)
			
