@font-face {
  font-family: 'FontAwesome';
  src: url('../../../lib/components-font-awesome/fonts/fontawesome-webfont.eot?v=4.1.0');
  src: url('../../../lib/components-font-awesome/fonts/fontawesome-webfont.eot?#iefix&v=4.1.0') format('embedded-opentype'),
       url('../../../lib/components-font-awesome/fonts/fontawesome-webfont.woff?v=4.1.0') format('woff'),
       url('../../../lib/components-font-awesome/fonts/fontawesome-webfont.ttf?v=4.1.0') format('truetype'),
       url('../../../lib/components-font-awesome/fonts/fontawesome-webfont.svg?v=4.1.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

border-style(side='')
	if side is ''
		border 1px solid #ccc
	else if side is 0
		border 0
	else
		border-{side} 1px solid #ccc

body, input, textarea
		font-family Roboto, Ubuntu, Segoe UI, sans-serif

.block-left
	border-style(right)
	overflow hidden

.edit-menu
	opacity 0
	transition .3s
	position absolute
	top 0
	right 0

	> li
		display block
		cursor pointer
		font-size 20px
		padding 10px
		transition .2s
		float right
		position relative

		&::before
			width 20px
			height 20px
			display block
			text-align center
			font-family 'FontAwesome'
		&::after
			content ''
			position absolute
			top 100%
			left 0
			display block
			border-left 20px solid transparent
			border-right 20px solid transparent
			border-bottom 0 solid transparent
			border-top: 10px solid transparent
			transition .2s

	.remove
		color hsl(0,50%,60%)

		&::before
			content "\f00d"
		&:hover
			background hsla(0,50%,60%,.2)
			&::after
				border-top-color hsla(0,50%,60%,.2)
		&:active
			background hsla(0,50%,60%,.5)
			color white
			&::after
				border-top-color hsla(0,50%,60%,.5)

	.approve
		color hsl(150,50%,50%)

		&::before
			content "\f164"
		&:hover
			background hsla(150,50%,60%,.2)
			&::after
				border-top-color hsla(150,50%,60%,.2)
		&:active
			background hsla(150,50%,60%,.5)
			color white
			&::after
				border-top-color hsla(150,50%,60%,.5)

	.disapprove
		color hsl(0,50%,60%)

		&::before
			content "\f165"
		&:hover
			background hsla(0,50%,60%,.2)
			&::after
				border-top-color hsla(0,50%,60%,.2)
		&:active
			background hsla(0,50%,60%,.5)
			color white
			&::after
				border-top-color hsla(0,50%,60%,.5)

	.edit
		color hsl(50,0%,60%)

		&::before
			content "\f040"
		&:hover
			background hsla(50,0%,60%,.2)
			&::after
				border-top-color hsla(50,0%,60%,.2)
		&:active
			background hsla(50,0%,60%,.5)
			&::after
				border-top-color hsla(50,0%,60%,.5)
			color white
		

.news-list
	> li
		border-style(bottom)
		position relative
		padding 15px 20px

		&:hover .edit-menu
			opacity 1

		.title
			display inline-block
			margin-bottom 5px
			margin-right 120px
			color hsl(0,0%,40%)
			text-decoration none
			font-size 20px
			font-weight bold

			&:hover
				text-decoration underline

		.description
			font-size 16px
			margin 10px 0

.tags
	clear both
	overflow hidden
	margin 15px -15px -5px
	//background #eee
	//padding 10px 15px
	padding 0 10px

	li
		position relative
		padding 7px 10px
		border-radius 2px
		background hsla(200,50%,50%,.15)
		color hsl(200,50%,55%)
		float left
		margin 5px
		font-size 12px
		cursor pointer
		overflow hidden
		transition .2s

		&:hover
			background hsl(200,50%,50%)
			color white

		&:active
			background hsl(0,50%,60%)
			color white
		

.block-right
	box-sizing border-box
	float right
	width 400px

.form
	width 100%
	overflow hidden
	padding 0 20px
	box-sizing border-box
	background #eee
	border-style(bottom)

	label
		font-size 12px
		color #999
		margin 20px 0 10px
		display block

	input, textarea, button
		width 100%
		max-width 100%
		min-width 100%
		padding 8px 0
		font-size 16px
		display block
		box-sizing border-box

	input, textarea
		margin 0
		border 0
		border-style(bottom)
		color #333
		background transparent

		&:focus
			border-bottom 2px solid hsl(200,50%,60%)
			outline 0
			padding-bottom 7px
		

	button
		border none
		margin 20px 0
		cursor pointer
		color white
		background hsl(150,40%,50%)
		border-color hsl(150,40%,45%)
		border-radius 2px
		transition background .3s
		
		&:focus
			outline none

		&:hover
			background hsl(150,40%,45%)

		&:active
			background hsl(150,40%,40%)
			
