@import 'mixins'

gray(lightness)
	hsl(0, 0%, lightness)

border-edge(sides = all, color = edge-color, size = 1px, style = solid)
	if sides is '!bottom'
		sides = left right top
	if sides is '!top'
		sides = left right bottom
	if sides is '!right'
		sides = left bottom top
	if sides is '!left'
		sides = bottom right top

	if all in sides
		border size style color
		return
	if left in sides
		border-left size style color
	if right in sides
		border-right size style color
	if top in sides
		border-top size style color
	if bottom in sides
		border-bottom size style color

action-button(content, color = secondary-type-color)
	color color
	&::before
		content content
	&:hover
		background alpha(color, .2)
		&::after
			border-top-color alpha(color, .2)
	&:active
		background alpha(color, .5)
		color white
		&::after
			border-top-color alpha(color, .5)

button(color = evening-sky)
	border-edge(all, darken(color, 5%))
	cursor pointer
	background color
	border-radius 2px
	transition background .3s
	text-transform uppercase
	padding 8px type-scale(0)
	display block
	box-sizing border-box
	text-shadow 0 1px 2px alpha(black, .2)

	if contrast(color).ratio > 2
		color white
	else
		color darken(color, 50%)

	&:focus
		outline none
		// background lighten(color, 10%)

	&:hover
		background lighten(color, 10%)
		text-decoration none

	&:active
		background darken(color, 10%)

button-sec()
	border 0
	cursor pointer
	background transparent
	border-radius 2px
	text-transform uppercase
	padding 8px type-scale(0)
	display block
	box-sizing border-box
	transition background .3s
	text-shadow none

	color secondary-type-color

	&:focus
		outline none
		// background lighten(color, 10%)

	&:hover
		background transparent
		text-decoration underline

	&:active
		background alpha(black, .1)

// Type scaling - http://modularscale.com/

type_scales = {
	m2: 1.067,
	M2: 1.125,
	m3: 1.200,
	M3: 1.250,
	P4: 1.333,
	TT: 1.414,
	P5: 1.500,
	golden: 1.618
}

type-scale(factor, original-font-size = 1rem, ratio = 'M3')
	unit = unit(original-font-size)
	size = remove-unit(original-font-size)
	mult = type_scales[ratio] ** factor
	return unit(size * mult, unit)

font-scale(factor, original-font-size = 1rem, ratio = 'M3')
	font-size type-scale(factor, original-font-size, ratio)
