@import 'mixins'

// General RGB colors
terrible-red = hsl(0,50%,60%)
pure-grass   = hsl(150,50%,50%)
evening-sky  = hsl(200,60%,50%)

// Gray colors
primary-type-color   = gray(20%)
secondary-type-color = gray(50%)
edge-color           = gray(80%)
form-bckg            = gray(95%)
