<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<title>Auth</title>
	<link href='http://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="../../common/main.css">
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
	<div class="frame">
		<div class="header">
			Who are you?
		</div>
		<div class="form">
			<div class="userpic">
				<img src="http://placekitten.com/100/100" alt="">
			</div>
			<label>First name<input type="text"></label>
			<label>Last name<input type="text"></label>
			<label>Company<input type="text"></label>
			<label>About me<textarea></textarea></label>
			<ul class="buttons-list">
				<li>Back</li>
				<li>Done</li>
			</ul>
		</div>
	</div>
</body>
</html>
