@import 'nib'
@import '../../../common/variables'
@import '../../../common/mixins'

body
	display flex
	justify-content center
	align-items center
	align-content center
	height 100vh

.title
	border-edge(bottom)
	color secondary-type-color
	// text-transform uppercase
	padding-bottom type-scale(-1)
	margin-bottom type-scale(1)

