@import 'nib'
@import '../../../common/mixins'

.block-left
	border-style(right)
	overflow hidden

.block-right
	box-sizing border-box
	float right
	width 600px
	max-width 100%


.edit-menu
	absolute top right
	opacity 0
	transition .3s

	> li
		display block
		cursor pointer
		font-scale 1
		padding 10px
		transition .2s
		float right
		position relative

		&::before
			width 20px
			height 20px
			display block
			text-align center
			font-family 'FontAwesome'
		&::after
			content ''
			absolute top 100%	left
			display block
			border-left 20px solid transparent
			border-right 20px solid transparent
			border-bottom 0 solid transparent
			border-top: 10px solid transparent
			transition .2s

	.remove
		edit-button("\f00d", 0, 50%, 60%)
	.approve
		edit-button("\f164", 150, 50%, 50%)
	.disapprove
		edit-button("\f165", 0, 50%, 60%)
	.edit
		edit-button("\f040")
		

.articles-list
	> li
		border-style(bottom)
		position relative
		padding 15px 20px

		&:hover .edit-menu
			opacity 1

		.title
			display inline-block
			margin-bottom 5px
			margin-right 120px
			color hsl(0,0%,40%)
			text-decoration none
			font-scale 1
			font-weight bold

			&:hover
				text-decoration underline

		.description
			font-scale 0
			margin 10px 0 15px
