@import 'nib'
@import '../../../common/mixins'

.block-left
	border-style(right)
	overflow hidden


.block-right
	box-sizing border-box
	float right
	width 600px
	max-width 100%


.edit-menu
	absolute top right
	opacity 0
	transition .3s

	> li
		display block
		cursor pointer
		font-scale 1
		padding 10px
		transition .2s
		float right
		position relative

		&::before
			width 20px
			height 20px
			display block
			text-align center
			font-family 'FontAwesome'
		&::after
			content ''
			absolute top 100%	left
			display block
			border-left 20px solid transparent
			border-right 20px solid transparent
			border-bottom 0 solid transparent
			border-top: 10px solid transparent
			transition .2s

	.remove
		edit-button("\f00d", 0, 50%, 60%)
	.approve
		edit-button("\f164", 150, 50%, 50%)
	.disapprove
		edit-button("\f165", 0, 50%, 60%)
	.edit
		edit-button("\f040")
		

.news-list
	> li
		border-style(bottom)
		position relative
		padding 15px 20px

		&:hover .edit-menu
			opacity 1

		.title
			display inline-block
			margin-bottom 5px
			margin-right 120px
			color hsl(0,0%,40%)
			text-decoration none
			font-scale 1
			font-weight bold

			&:hover
				text-decoration underline

		.description
			font-scale 0
			margin 10px 0 15px

.tags
	clear both
	overflow hidden
	margin -5px -15px
	padding 0 10px

	li
		position relative
		padding 7px 10px
		border-radius 2px
		background hsla(200,50%,50%,.15)
		color hsl(200,50%,55%)
		float left
		margin 5px
		font-scale -1
		cursor pointer
		overflow hidden
		transition .2s

		&:hover
			background hsl(200,50%,50%)
			color white

		&:active
			background hsl(0,50%,60%)
			color white
		


.form
	width 100%
	overflow hidden
	padding 15px 20px
	box-sizing border-box
	background #eee
	border-style(bottom)

	label
		font-scale -1
		color #999
		margin-bottom 20px
		display block

	input, textarea, button
		width 100%
		max-width 100%
		min-width 100%
		padding 8px 0
		display block
		box-sizing border-box

	input, textarea
		margin 0
		border 0
		border-style(bottom)
		color #333
		background transparent

		&:focus
			border-bottom 2px solid hsl(200,50%,60%)
			outline 0
			padding-bottom 7px
		

	button
		border-style(all)
		margin-top 20px
		cursor pointer
		color white
		background hsl(150,40%,50%)
		border-color hsl(150,40%,45%)
		border-radius 2px
		transition background .3s
		
		&:focus
			outline none

		&:hover
			background hsl(150,40%,45%)

		&:active
			background hsl(150,40%,40%)
