doctype 5
html
  head
    title Gathering - Register
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(href='components/bootstrap/dist/css/bootstrap.min.css', rel='stylesheet', media='screen')
    link(href='stylesheets/style.css')
  body
    .navbar.navbar-inverse.navbar-fixed-top
      .container
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='#') Gathering
        .collapse.navbar-collapse
          ul.nav.navbar-nav
            li.active
              a(href='#') Home
            li
              a(href='#about') About
            li
              a(href='#contact') Contact

    .container
      form.form-horizontal(action='users', method='post')
        .heading
          h4.form-heading Sign Up
        .control-group
          label.control-label(for='inputFirst') First Name
          .controls
            input#inputFirst(type='text', name='firstname', placeholder='E.g. Ashwin', value=name.givenName)
        .control-group
          label.control-label(for='inputLast') Last Name
          .controls
            input#inputLast(type='text', name='lastname', placeholder='E.g. Hegde', value=name.familyName)
        .control-group
          label.control-label(for='inputEmail') Email
          .controls
            input#inputEmail(type='text', name='email', placeholder='E.g. ashwinh@cybage.com', value=emails[0].value)
        .control-group
          label.control-label(for='inputUser') Username
          .controls
            input#inputUser(type='text', placeholder='E.g. ashwinhegde')
        .control-group
          label.control-label(for='inputPassword') Password
          .controls
            input#inputPassword(type='password', placeholder='Min. 8 Characters')
        .control-group
          .controls
            button.btn.btn-success(type='submit') Sign Up

    script(src='http://code.jquery.com/jquery.js')
    script(src='components/bootstrap/dist/js/bootstrap.min.js')
