@import 'nib'
@import '../../../common/variables'
@import '../../../common/mixins'

body
	display flex
	justify-content center
	align-items center
	align-content center
	height 100vh

.modal
	max-width 400px
	width 100%
	box-shadow 0px 2px 5px alpha(black, .2)

.header
	display flex
	background evening-sky
	color white
	padding type-scale(1) type-scale(1)
	text-transform uppercase

	// li
	// 	user-select none
	// 	font-scale 0
	// 	padding type-scale(1) type-scale(1)
	// 	text-transform uppercase
	// 	box-sizing border-box
	// 	cursor pointer
	// 	color alpha(white, .6)

	// 	&.active
	// 		border-edge(bottom, lighten(evening-sky, 60%), 4px)
	// 		padding-bottom 11px

	// 	&:hover, &.active
	// 		color white

.form
	//border 0
	//border-edge('!top')

// .title
// 	border-edge(bottom)
// 	padding 10px 0
// 	margin type-scale(1) 0
// 	color evening-sky

	.buttons-list
		display flex
		justify-content flex-end
		li:last-child
			button(evening-sky)
		li
			button-sec()

.action-menu
	display flex
	justify-content center
	margin-bottom type-scale(1)
	padding-bottom type-scale(1)
	border-edge(bottom, , , dashed)

	> li
		position relative
		min-width type-scale(1)
		min-height type-scale(1)
		padding 10px
		border-radius 100%
		text-align center
		cursor pointer
		transition color .2s, background .2s
		margin 0 10px

		&::before
			font-family FontAwesome
			font-scale(1)
			min-width type-scale(1)
			min-height type-scale(1)
			position absolute
			margin auto
			display block

	.github
		action-button("\f113")

	.google
		action-button("\f1a0")

	.facebook
		action-button("\f09a")

	.twitter
		action-button("\f099")
