@import 'nib'
@import '../../../common/mixins'

body
	display flex
	justify-content center
	align-items center
	align-content center
	height 100vh

.form
	border-style(all)
	max-width 600px

input:invalid
	border-color red
